name: Build and Push to ACR

on:
  push:
    branches: [ main, master ] # Se activa con cualquier cambio en estas ramas

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      # 1. Login en Azure usando tu Service Principal
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          allow-no-subscriptions: true

      # 2. Login específico en tu registro de Azure
      - name: ACR Login
        run: |
          az acr login --name exitusregistry

      # 3. Construir y subir la imagen de Node.js
      - name: Build and Push Image
        run: |
          # Usamos el nombre de tu servidor: exitusregistry.azurecr.io
          docker build . -t exitusregistry.azurecr.io/mi-app-node:${{ github.sha }}
          docker push exitusregistry.azurecr.io/mi-app-node:${{ github.sha }}
